<h4>How to Play</h4>

<div class="how-to">
    <h4>Goal</h4>
    <p>The objective of the game is to eliminate or capture the flag of the opponent, or to maneuver one's flag
        to the other end of the board.</p>
    <h4>The Pieces</h4>
    <p>
        The player's set of 21 pieces or soldiers have corresponding ranks and functions. A higher ranking piece
        will eliminate any lower ranking piece, with the exception of the spy, which eliminates all pieces except the private.
        The positions of the opponent's pieces are unknown at all times.
    </p>

    <table class="table table-bordered">
        <tr>
            <th>Piece</th>
            <th>Description</th>
            </tr>
        <tr>
            <td>
                <div class="tile-content gen-5star">
                    <div class="name">
                        <p>General</p>
                        </div>
                    </div>
                </td>
            <td><p><strong>5-Star General. </strong>. Eliminates any lower ranking officer, the private, and the flag.</p></td>
            </tr>
        <tr>
            <td>
                <div class="tile-content gen-4star">
                    <div class="name">
                        <p>General</p>
                    </div>
                    </div>
                </td>
            <td><p><strong>4-Star General. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
            </tr>

        <tr>
            <td>
                <div class="tile-content gen-lt">
                    <div class="name">
                        <p>Lt.Gen</p>
                        </div>
                    </div>
                </td>
            <td><p><strong>Lieutenant General. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>


        <tr>
            <td>
                <div class="tile-content gen-maj">
                    <div class="name">
                        <p>Maj.Gen</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Major General. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>


        <tr>
            <td>
                <div class="tile-content gen-bri">
                    <div class="name">
                        <p>Brig.Gen</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Brigadier General. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content col">
                    <div class="name">
                        <p>Colonel</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Colonel. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>


        <tr>
            <td>
                <div class="tile-content col-lt">
                    <div class="name">
                        <p>Lt.Col</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Lieutenant Colonel. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content maj">
                    <div class="name">
                        <p>Major</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Major. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content capt">
                    <div class="name">
                        <p>Captain</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Captain. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>


        <tr>
            <td>
                <div class="tile-content lt-1st">
                    <div class="name">
                        <p>1st.Lt</p>
                    </div>
                </div>
            </td>
            <td><p><strong>1st Lieutenant. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content lt-2nd">
                    <div class="name">
                        <p>2nd.Lt</p>
                    </div>
                </div>
            </td>
            <td><p><strong>2nd Lieutenant. </strong>Eliminates any lower ranking officer, the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content sgt">
                    <div class="name">
                        <p>Sergeant</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Sergeant. </strong>Eliminates the private, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content pvt">
                    <div class="name">
                        <p>Private</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Private. </strong>Eliminates the spy, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content spy">
                    <div class="name">
                        <p>Spy/p>
                    </div>
                </div>
            </td>
            <td><p><strong>Spy. </strong>Eliminates all officers from the rank of Sergeant up to 5-Star General, and the flag.</p></td>
        </tr>

        <tr>
            <td>
                <div class="tile-content flag">
                    <div class="name">
                        <p>Flag</p>
                    </div>
                </div>
            </td>
            <td><p><strong>Flag. </strong>Eliminates the opposing flag as long as it takes the aggressive move against the enemy flag.</p></td>
        </tr>
        </table>





    <h4>Moves and Gameplay</h4>
    <p>
        The game is played on a board with 9x8 plain squares. The pieces are placed in various locations in the
        first three rows of each player's side. Unlike chess or its variants, there is no predetermined layout for
        the pieces, allowing each player to place the pieces to his advantage. The Player 1 (who initiates the game) moves first.
        Afterward, the players take their turns alternately. <br/><br/>
        All pieces can move in 4 directions: One space forward, backward, or sideways. Each player can move only
        one piece per turn.<br/><br/>
        A challenge happens when two opposing pieces occupy a square. The lower-ranked piece is defeated and removed
        regardless of who initiated the challenge.
        </p>
    </div>