body {
  //background: url('../images/gg-background.jpg') no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  font-size: $base-font-size;
  line-height: 1;
}

.wrapper {
  margin: 0;
  padding: 0;
}

.header {
  background: $c4;
  padding: 0.5em;
}

.gg-logo {
  margin: 0 auto;
  background: url('../images/gg-logo.png') no-repeat;
  width: 300px;
  height: 3.25em
}


.game-option {
  margin-top: 10em;
  height: 15em;
  color: $c6;
  background: rgba(54, 25, 25, .75);
  text-align: center;
  padding: 1em;

  input[type='text'] {
    color: #666;
  }
}


.users-list,
.rooms-list {
  min-height: 25em;
  max-height: 33em;
  overflow-y: auto;
  margin-top: 0.25em;

  .gg-list-item {
    &:hover {
      border-left: 1px solid #aaa;
    }

    p {
      font-weight: bold;
      display: inline-block;
    }

    button {
      margin-left: 1em;
      display: inline-block;
      float: right;
    }
  }
}

.users-list,
.rooms-list {
  .list-name {
    display: inline-block;
    width: 15em;
  }

  .list-buttons {
    display: inline-block;
  }
}


.main-panel {
  background: rgba(255, 255, 255, .8);
  margin: 0;
  padding: 0;
  height: auto;


  .main-panel-content {
    //background: #fff;
    //height: 92%;
    padding: 0;
    margin: .5em;
  }
}

.close-tab {
  margin-left: 1em;
  color: #F00D1B;
  cursor: pointer;
}

.modal-content {
  .modal-buttons {
    .btn {
      margin: 0.25em;
    }
  }
}


.modal-content .panel-heading {
  color: #fff;
  background-color: gray;
  .panel-title{
    font-weight: bold;
    font-size: 1.5em;
  }
}


//board
.board {
  width: 29em;
  display: inline-block;
  min-width: ($board-cell-width * 8) + 8px;

  background: url('../images/board-bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  border: 0.25em solid #333;
}

.tile {
  width:$board-cell-width;
  height:$board-cell-width;

  display: inline-block;
  @include boxSizing();

  vertical-align: top;
  border: 0.1em solid rgba(1,1,1, 0.25);

  &:hover {
    border: 0.1em solid blue;
  }
  &.occupied {
    background:#fff;
    background:-moz-linear-gradient(top, #fff, #eee);
    background:-webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#eee));
    box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
  }

  &.selected {
    border: 0.1em solid red;
  }
}


.tile-content {
  width:  $board-cell-width;
  height:  $board-cell-width;

  &.player1 {
    background: #999;
    .name p {
      background: black;
    }
  }



  &.player2 {
    background: greenyellow;
    .name p {
      background: green;
    }
  }




  &.gen-5star { background: url('../images/icons/gen-5star-48.png') no-repeat center center;}
  &.gen-4star { background: url('../images/icons/gen-4star-48.png') no-repeat center center;}
  &.gen-lt { background: url('../images/icons/gen-lt-48.png') no-repeat center center;}
  &.gen-maj { background: url('../images/icons/gen-maj-48.png') no-repeat center center;}
  &.gen-bri { background: url('../images/icons/gen-bri-48.png') no-repeat center center;}
  &.col { background: url('../images/icons/col-48.png') no-repeat center center;}
  &.col-lt { background: url('../images/icons/col-lt-48.png') no-repeat center center;}
  &.maj { background: url('../images/icons/maj-48.png') no-repeat center center;}
  &.capt { background: url('../images/icons/capt-48.png') no-repeat center center;}
  &.lt-1st { background: url('../images/icons/lt-1st-48.png') no-repeat center center;}
  &.lt-2nd { background: url('../images/icons/lt-2nd-48.png') no-repeat center center;}
  &.sgt { background: url('../images/icons/sgt-48.png') no-repeat center center;}
  &.spy { background: url('../images/icons/spy-48.png') no-repeat center center;}
  &.flag { background: url('../images/icons/flag-48.png') no-repeat center center;}
  &.pvt { background: url('../images/icons/pvt-48.png') no-repeat center center;}


  .name {
    padding-top: 2.65em;
    p {
      font-size: 0.65em;
      line-height: 1.35;
      text-transform:uppercase;
      text-align: center;
      background: #000;
      color: yellow;
    }
  }


}

.game-info {
  display: inline-block;
  padding-top: 0.5em;
  margin-left: 0.5em;
  vertical-align: top;

  .game-messages {
    display: inline-block;
    vertical-align: top;
    width: 20em;
    p {
      margin: 0 0 0.25em;
    }

    .status {
      color: blueviolet;
      font-weight: bold;
    }
  }

  .game-controls {
    display: inline-block;
    vertical-align: top;
    width: 10.5em;
    padding: 0;
    margin: 0;

    button {
      display: inline-block;
      margin-left: 0.5em;
    }
  }


}

.how-to {
  min-height: 25em;
  max-height: 38em;
  font-size: $base-font-size;
  line-height: 1.25;
  overflow-y: auto;

  .tile-content {
    font-size: 13.5px;
    border:1px solid gray;
  }

  table {
    font-size: $base-font-size;
  }
}

.private-message,
.chatroom {
  .messages {
    min-height: 25em;
    max-height: 33em;
    overflow-y: auto;
    margin-top: 0.25em;

    .system {
      color: blue;
    }

    .public {
      color: #000;
    }

    .challenge {
      padding: 0.5em;
      border-radius: 0.5em;
      background: #FFBADD;
      button {
        margin-left: 0.5em;
      }
    }
  }

  .message-box {
    padding: 0;
    margin: 0;
    margin-top: 0.5em;


    textarea,
    button {
      display: inline-block;
      margin-right: 0.5em;
      vertical-align: top;
    }

    textarea{
      resize: none;
      width: 75%;
    }
  }
}

.private-message {
  .close-button {
    float:right;
    margin-right:2em;
  }

}



.tab-container {

  button {
    display: inline-block;
    margin: 0.5em;

    .btn {
      width: 2.5em;
      height: 2.5em;

      &.btn-lg {
        padding: 10px 12px;
      }
    }
  }

}

.panel-body {
  .form-group {
    button {
      margin-right: 0.5em;
    }
  }
}



@media screen and (max-width: 800px) {
  //TODO - should replace slide menu
  .side-panel {
    display: none;
  }

}


@media screen and (min-width: 769px) and (max-width: 990px) {
  .game-option {
    width: 50%;
    margin: 8em auto;
  }

}



@media screen and (min-width: 481px) and (max-width: 768px) {
  @import "tablet";
}
@media screen and (max-width: 480px) {
  @import "smartphone-wide";
}




