.header {
  padding: 0;
}

.tile {
  width: $board-cell-width-narrow;
  height: $board-cell-width-narrow;
}



.tile-content {
  width:  $board-cell-width-narrow;
  height:  $board-cell-width-narrow;


  &.gen-5star { background: url('../images/icons/gen-5star-38.png') no-repeat center center;}
  &.gen-4star { background: url('../images/icons/gen-4star-38.png') no-repeat center center;}
  &.gen-lt { background: url('../images/icons/gen-lt-38.png') no-repeat center center;}
  &.gen-maj { background: url('../images/icons/gen-maj-38.png') no-repeat center center;}
  &.gen-bri { background: url('../images/icons/gen-bri-38.png') no-repeat center center;}
  &.col { background: url('../images/icons/col-38.png') no-repeat center center;}
  &.col-lt { background: url('../images/icons/col-lt-38.png') no-repeat center center;}
  &.maj { background: url('../images/icons/maj-38.png') no-repeat center center;}
  &.capt { background: url('../images/icons/capt-38.png') no-repeat center center;}
  &.lt-1st { background: url('../images/icons/lt-1st-38.png') no-repeat center center;}
  &.lt-2nd { background: url('../images/icons/lt-2nd-38.png') no-repeat center center;}
  &.sgt { background: url('../images/icons/sgt-38.png') no-repeat center center;}
  &.spy { background: url('../images/icons/spy-38.png') no-repeat center center;}
  &.flag { background: url('../images/icons/flag-38.png') no-repeat center center;}
  &.pvt { background: url('../images/icons/pvt-38.png') no-repeat center center;}

  .name {
    padding-top: 2.3em;

    p {
      font-size: 0.55em;
      line-height: 1.5;
    }
  }
}

.game-option {
  margin-left: 2em;
  margin-right: 2em;
}
.game-info {
  .game-messages {
    width: 13em;
  }
}

.board {
  width: 25.85em;
  min-width: ($board-cell-width-narrow * 8);
}