body {
  //background: url('../images/gg-background.jpg') no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  font-size: $base-font-size - 2px;
}

.header {
  padding: 0 0.5em;
}

.gg-logo {
  height: 4em;
  line-height: 0.75em;
}

.game-option {
  margin-left: 1em;
  margin-right: 1em;
}


.game-option {
  margin-top: 5em;

}

.messages {
  height: 25em;
  min-height: 0;
}

.how-to {
  font-size: $base-font-size - 2px;
  height: 30em;
  line-height: 1.25;

  table {
    font-size: $base-font-size - 2px;
  }
}


.tab-container {
  button {
    display: inline-block;
    margin: 0.25em;

    .btn {
      width: 2.5em;
      height: 2.5em;

      &.btn-lg {
        padding: 10px 12px;
      }
    }
  }


}

.users-list {
  min-height: 25em;
  max-height: 33em;
  overflow-y: auto;
  margin-top: 0.25em;
}

.private-message {
  .close-button {
    margin-right: 0;
    .label { display: none}
  }

}
.tile:hover {}

@media screen and (max-width: 430px) {
  @import "smartphone-narrow";
}

